body{
	background-color:white;
	margin:0;
}
.topofpage1{
	text-align:center;
	font-family: 'Lobster', cursive;
	font-size: 40px;	
	word-spacing: 5px;
	color:white;
	padding:50px;
	background-color:#b30000;
	border: 2px solid black;
	border-style: none solid solid solid;
	margin:0;
	outline-color:black
}
@font-face {
    font-family:" 'Lobster', cursive";
	font-style:normal;
	font-weight:400;
    src:("https://fonts.googleapis.com/css?family=Lobster.woff");
}
.topofpage2{
	text-align:;
	color:white;
	border:2px solid black;
	border-style: none solid solid solid;	
	padding:20px;
	background-color:#b30000;
	margin:0;
}
.bottompage1{
	text-align:center;
	color:white;
	border-bottom:2px solid black;
	border-bottom-style:solid;
	padding:20px;
	background-color:#b30000;
	margin:0;
	
	
}

a {
    color: white;
	 word-spacing: 5px;
	 font-family: 'Lobster', cursive;
	font-size: 20px;	
	 