body{
	background-color:white;
	margin:0;
}
.topofpage1{
	text-align:center;
	color:white;
	padding:50px;
	background-color:#b30000;
	border: 2px solid black;
	border-style: none solid solid solid;
	margin:0;
	outline-color:black
	
}
.topofpage2{
	text-align:;
	color:white;
	border:2px solid black;
	border-style: none solid solid solid;	
	padding:20px;
	background-color:#b30000;
	margin:0;
}
.bottompage1{
	text-align:center;
	color:white;
	border-bottom:2px solid black;
	border-bottom-style:solid;
	padding:20px;
	background-color:#b30000;
	margin:0;
	
	
}

a {
    color: white;
	 word-spacing: 5px;
	 