body{
	background-color:#f2f2f2;
}
  img {
    display: block;
    margin: 0 auto;
	padding:5px;
	height: 300px;
    width: 300px;
	
}

 h3,p,li{
	text-align:center;

	

}

li{
	text-align:left;
}


table{margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 0px;
}


th,td{ border:2px solid black;
       padding:0px;
	   margin;0px;
	   
	
}
