body{
	background-color:#44AE05;

}

h1{
	text-shadow: 2px solid black;
	color:#c70606;
}
caption, tr, td{
	text-align: center;
	color:black;
	margin:0;
}
table{
	background-color: #f2f2f2;
	margin:10px auto 10px auto;
	padding: 30px auto 30px auto;
	
	
}
caption{
	background-color: #d9d9d9;
	padding:10 px auto 5px auto;
	text-decoration: underline;
	text-decoration-style: 3px solid black;

}

