body{
	background-color:#ccccb3;
	margin:0;
}





 
  
	 .jumbotron {
      margin: 0;
	  padding:1%;
	  }
	  
    .navbar {
      margin-bottom: 40px;
      border-radius: 0;
    }

.topofpage1{
	text-align:center;
	font-family: 'Lobster', cursive;
	font-size: 40px;	
	word-spacing: 5px;
	color:white;
	padding:50px;
	background-color:#b30000;
	border: 2px solid black;
	border-style: none solid solid solid;
	margin:0;
	outline-color:black
}

@font-face {
    font-family:" 'Lobster', cursive";
	font-style:normal;
	font-weight:400;
    src:("https://fonts.googleapis.com/css?family=Lobster.woff");
}


#footer{
	
	background-color:#b30000; 
	color:white;
	text-align:center;
	padding:15px 0 15px 0; "
}
	
	



a:link {
	color: white;
	 word-spacing: 5px;
	 font-family: 'Lobster', cursive;	
	font-size: 20px;	
	text-decoration: underline;
}

a:visited {
	color: blue;
	text-decoration: underline;
}

a:hover {
    color: green;
	text-decoration: underline;
	font-weight:bold;
}

a:active {
    color: yellow;
	text-decoration: none;
}


.textsize{
	font-size:15pt;
	
}
	

	
	
	 