body{
	background-color:#f2f2f2;
}

@font-face {
    font-family:" 'Lobster', cursive";
	font-style:normal;
	font-weight:400;
src:("https://fonts.googleapis.com/css?family=Lobster.woff");

}

.specialtext{
	font-family: 'Lobster', cursive;
	font-size: 20px;	
	word-spacing: 5px;
}

.backgroundimage{
	
	background-image:url("http://static.wonderfulunion.net/groundctrl/clients/groundctrl/media/01/08/release_images/assets/medium.KQscqzBJd1NpkfYt2PVxU4mTpXBagNSfvOfJxdrlbug.jpg");
}
 
	


li{
	text-align:left;
	font-style:italic;
}

 h3,p{
	text-align:center;

	

}


table{margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 0px;
	background-color:#ccccff;
}


th,td{ 
	border:2px solid black;
    padding:0px;
	margin:0px;
	text-align:center;
	font-style:italic;
	
}




a:link {
 text-decoration: none;
 color:blue;
}



a:hover{

text-decoration: underline;
background-color: #33ff33;
	

}

