body{
	background-color:white;
	margin:0;
}
.topofpage1{
	text-align:center;
	font-family: 'Lobster', cursive;
	font-size: 40px;	
	word-spacing: 5px;
	color:white;
	padding:50px;
	background-color:#b30000;
	border: 2px solid black;
	border-style: none solid solid solid;
	margin:0;
	outline-color:black
}
@font-face {
    font-family:" 'Lobster', cursive";
	font-style:normal;
	font-weight:400;
    src:("https://fonts.googleapis.com/css?family=Lobster.woff");
}
.topofpage2{
	text-align:;
	color:white;
	border:2px solid black;
	border-style: none solid solid solid;	
	padding:20px;
	background-color:#b30000;
	margin:0;
}
.bottompage1{
	text-align:center;
	color:white;
	border-bottom:2px solid black;
	border-bottom-style:solid;
	padding:20px;
	background-color:#b30000;
	margin:0;
	
	
}


a:link {
	color: white;
	 word-spacing: 5px;
	 font-family: 'Lobster', cursive;	
	font-size: 20px;	
	text-decoration: underline;
}

a:visited {
	color: blue;
	text-decoration: underline;
}

a:hover {
    color: green;
	text-decoration: underline;
	font-weight:bold;
}

a:active {
    color: yellow;
	text-decoration: none;
}

.drinksmenue{
    border: 0px none;
	text-align:center;
    border-collapse: collapse;
    width: 20%;
    height: 30px;
	margin:10px auto 10px 80px;
}
.textsize{
	font-size:15pt;
	
}
	

	
	
	 